@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
    font-family: 'Zen Antique', serif;
} 

nav {  
    background-color: black;
    height: 100%;

}
nav h3{
    background-image: linear-gradient(to bottom right, #ff416c, #ff4b2b, #f59426);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

 nav ul {  
  float: right;
  list-style: none;  
  position: relative;  
 }  
 nav ul li {  
  display: inline-block;  
  background-color: black;  
 }  
 #menu_link {  
  display: block;  
  padding: 0 3px;  
  color: white;  
  font-size: 18px;  
  line-height: 60px; 
  text-align: center; 
  text-decoration: none;  
 }  
 #menu_link:hover {  
  background-color: #5f5c5c;  
 }  
 #logout_link{
    display: block;  
    padding: 0 2.5px;  
    color: white;  
    font-size: 18px;  
    line-height: 50px;  
    border-radius: 20px;
    text-decoration: none; 
    text-align: center;
    background: linear-gradient(to bottom right, #ff416c, #ff416c, #ff4b2b, #ff4b2b, #f59426);
 }
 #logout_link:hover{
    box-shadow: 0 0 10px #ff416d65; 
 }
 nav ul ul {  
  display: none;  
  position: absolute;  
  top: 65px;  
  right: 0px;
  z-index: 1;
 }  
 nav ul li:hover > ul {  
  display: inherit;  
 }  
 nav ul ul li {  
  width: 170px;  
  float: none;  
  display: list-item;  
  position: relative;  
 }  
 nav ul ul ul li {  
  position: relative;  
  top: -65px;  
 }   
 li > a:only-child:after {  
  content: "";  
 }  
 nav ul img{
    position: relative; 
    height: 45px;
    width: 45px;
    border-radius: 50px;
    padding: 1px;
    top: 15px;
    border: solid 1px #ff416c;
 }

 .voltar{
   position: relative;  
   top: 20px;
   padding: 5px;  
   color: black;  
   font-size: 25px;    
   border-radius: 20px;
   text-decoration: none; 
   text-align: center;
   background: linear-gradient(to bottom right, #ff416c, #ff416c, #ff4b2b, #ff4b2b, #f59426);
 }

 .voltar img {
    transform: rotate(180deg);
 }
 #voltarHome{
    position: relative;
    top: 10px;
    border-radius: 15px;
    visibility: hidden;
 }