@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Zen Antique', serif;
}
.conteúdo{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 65%;
    height: 90%;
    border-radius: 30px;
    padding: 10px;
    background: linear-gradient(to bottom right, #ff416c, #ff416c, #ff4b2b, #ff4b2b, #f59426);
    box-shadow: 10px 10px 5px #ff416d65;
    overflow-y: scroll;
    overflow-x: hidden;
}
.container::-webkit-scrollbar{
    width: 7px;
}
.container::-webkit-scrollbar-track{
    background-color: transparent;
}
.container::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    border: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
.column {
    float: right;
    padding: 10px;
}
.column.middle{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column.middle h2{
    background-image: linear-gradient(to bottom right, rgb(15,15,15), rgb(20,19,19), white);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    justify-content: center;

}
.caixa{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search{
    border: none;
    outline: transparent;
    background-color: transparent;
    border-radius: 8px;
    padding: 0.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: blur(0.5px);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    transition: all .4s;
}
#search:hover {
    background-color: rgba(255, 255, 255, 0.753);
}

#estrela {
    width: 30px;  
    height: 30px;   
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
    background-repeat: no-repeat;  
    background-position: center;  
    background-size: 76%; 
}

.column.middle input{
    background: white;
    height: 30px;
    width: 60%;
    color: rgb(20,19,19);
    border: none;
    outline: none;
    padding-left: 0.8em;
    border-radius: 10px;
    transition: all .4s;
}

.column.middle input:focus::placeholder{
    color:  black;
}

.column.left {
    width: 44%;
    float: left;
}
.column.right{
    width: 44%;
    float: right;
}

.column table{
    text-align: center;
    justify-content: center;
    width: 105%;
    height: 270px;
    font-size: large;
    border-radius: 15px;
    background:white;
    box-shadow: 5px 5px 5px #2c040d65;
    padding: 15px;
}
.column table p{
    font-size: 12px;
    font-weight: bold;
}
.column table input{
    font-size: 12px;
    font-weight: bold;
    background:rgba(128, 128, 128, 0.137);
    border-radius: 5px;
    width: 100%;
    border: none;
    outline: none;
    color: black;
}
.column table input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.column table input + label {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10.5px;
    position: relative;
    cursor: pointer;
    color: black;
}

.column table .finalizado input[type=radio] + label::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 1px black;
    vertical-align: bottom;
}

.column table .finalizado input[type=radio]:checked + label::after {
    content: '';
    background-color: #ff4b2b;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    bottom: 2px;
}
.column table textarea{
    font-size: 12px;
    font-weight: bold;
    background:rgba(128, 128, 128, 0.137);
    border-radius: 5px;
    width: 100%;
    border: none;
    outline: none;
    color: black;
}
.column table a, .column table .acao{
    cursor: pointer;
}
.column table a:hover{
    text-decoration: underline;
}
.column table button{
    background-color: transparent;
    border: none;
}
.column #descricao{
    background-color: transparent;
    border: none;
    color: black;

}
.column #descricao:hover{
    text-decoration: underline;

}
.rating {  
    display: flex;  
    width: 80%;  
    justify-content: left;  
    flex-direction: row-reverse;  
    height: 25px;  
    position: relative;  
}  
.rating-0 {  
    filter: grayscale(100%);  
}  
.rating > input {  
    display: none;  
}  
.rating > label {  
    cursor: pointer;  
    width: 20px;  
    height: 20px;   
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
    background-repeat: no-repeat;  
    background-position: center;  
    background-size: 76%;  
    transition: .3s;  
}  
.rating > input:checked ~ label,  .rating > input:checked ~ label ~ label {  
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
}  
.rating > input:not(:checked) ~ label:hover, .rating > input:not(:checked) ~ label:hover ~ label {  
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
}