@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Zen Antique', serif;
}
.tituloSite{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    font-size: 55px;
    color: white;
}
.estiloLegal{
    background-image: linear-gradient(to bottom right, #ff416c, #ff4b2b, #f59426);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.coluna_mostra{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(20, 19, 19);
}

.coluna_login{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    background-color: rgb(15, 15, 15);
}
.menu{
    position: relative;
    width: 100%;
    height: 12%;
    background-color: black; 
}
.main_content{
    position: relative;
    width: 100%;
    height: 88%;
    max-height: 300%;
    background: rgb(19, 19, 20);
}

.coluna_botoes{
    position: relative;
    width: 50%;
    height: 88%;
    max-height: 200%;
    float: left;
    background-color: rgb(15, 15, 15);
}

.coluna_lista{
    position: relative;
    width: 50%;
    height: 88%;
    max-height: 200%;
    float: right;
    justify-content: center;
    background-color: rgb(20, 19, 19);
}

iframe {
    border: none;
    outline: none;
}
footer{
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom right, #ff416c, #ff4b2b, #f59426);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}